* {
    margin: 0px;
}

#titulo {
    text-align: center;
    color: palevioletred;
}

.rodape {
    text-align: center;
    background-color: gainsboro;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

.inputUser {
    border: 1px solid;
    width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
}

input {
    display: block;
    margin: 1px;
}